NET "i_Clk" LOC = "C9";
NET "i_RX_Serial" LOC = "R7";
//NET "o_RX_DV" LOC = "C7";
NET "o_RX_Byte<0>" LOC = "F9";
NET "o_RX_Byte<1>" LOC = "E9";
NET "o_RX_Byte<2>" LOC = "D11";
NET "o_RX_Byte<3>" LOC = "C11";
NET "o_RX_Byte<4>" LOC = "F11";
NET "o_RX_Byte<5>" LOC = "E11";
NET "o_RX_Byte<6>" LOC = "E12";
NET "o_RX_Byte<7>" LOC = "F12";